@model hager_crm.Models.Employee

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobPosition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobPosition.JobPositionID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmploymentType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmploymentType.EmploymentTypeID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeAddress1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeAddress1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeAddress2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeAddress2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeProvince)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeProvince.ProvinceID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeePostalCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeePostalCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeCountry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeCountry.CountryID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CellPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CellPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DOB)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DOB)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Wage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Wage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Expense)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Expense)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateJoined)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateJoined)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KeyFob)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KeyFob)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmergencyContactName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmergencyContactName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmergencyContactPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmergencyContactPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Active)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Active)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Notes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsUser)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.EmployeeID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
