@model IEnumerable<hager_crm.Models.Employee>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Employee List</h1>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

@if (this.User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <form asp-action="InsertFromExcel" asp-controller="Employees" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="All" class="text-danger"></div>
        <button type="button" class="btn btn-outline-primary" data-toggle="collapse" data-target="#collapseImport" aria-expanded="false" aria-controls="collapseImport">Import Companies</button>

        <div class="collapse" id="collapseImport">
            <br />
            <div class="form-horizontal">
                <div class="card card-body bg-light">
                    <div class="row">
                        <div class="custom-file col-md-4">
                            <label for="theExcel" class="custom-file-label">
                                <i class="fa fa-cloud-upload"></i> Upload Excel File:
                            </label>
                            <input id="theExcel" name="theExcel" type="file" class="custom-file-input">
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="submit" value="Upload Data" class="btn btn-primary" />
                            </div>
                        </div>
                        <div class="custom-file col-md-4">
                            <p><a href="/TemplateFile/Employee_Import_Template_V8.xlsx" download> Click to Download Template</a></p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </form>
}
<div class="overflow-auto">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FullName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.JobPosition)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.WorkPhone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.JobPosition.Position)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.WorkPhone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    @if (this.User.IsInRole("Admin"))
                    {
                        <td>
                            <a class="btn btn-sm btn-light w-100" asp-action="Details" asp-route-id="@item.EmployeeID">Details</a>
                            <a class="btn btn-sm btn-light w-100" asp-action="Edit" asp-route-id="@item.EmployeeID">Edit</a>
                            <a class="btn btn-sm btn-outline-danger w-100" asp-action="Delete" asp-route-id="@item.EmployeeID">Delete</a>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>


<script type="text/javascript">

    $('#theExcel').change(function () {
        var i = $(this).prev('label').clone();
        var file = $('#theExcel')[0].files[0].name;
        $(this).prev('label').text(file);
    });

</script>