@model IEnumerable<hager_crm.Models.Employee>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Employees List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div  class="card-body">
    <br />
    <form asp-action="InsertFromExcel" asp-controller="Employees" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label class="control-label">Upload Excel File:</label>
            <input type="file" class="" name="theExcel" /><br />
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <input type="submit" value="Upload Data" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </form>
</div>
<div class="overflow-auto">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FullName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.JobPosition)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.WorkPhone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Wage)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.KeyFob)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Active)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsUser)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.JobPosition.Position)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.WorkPhone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Wage)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.KeyFob)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Active)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsUser)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.EmployeeID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.EmployeeID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.EmployeeID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
