@model List<hager_crm.ViewModels.EmployeeVM>
<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">@ViewData["Role"] Users</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="form-row">
        @Html.DropDownList("UsersNotInRole", null, htmlAttributes: new { @class = "form-control col-md-9" })
        <a href="#" type="button" class="col-md-3 form-control btn btn-secondary" onclick="addUser($('#UsersNotInRole').val())">Add user</a>
    </div>
    <br />
    <table class="table">
        <thead>
            <tr>
                <th>User</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Fullname
                    </td>
                    <td>
                        <a href="#" onclick="removeUser('@item.UserID')" >Remove From Role</a>
                        <a href="#" onclick="deleteUser('@item.UserID')">Delete User</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script type="text/javascript">
    function removeUser(UserId) {
        $.post("/Configuration/RemoveUser",
            {
                userId: UserId,
                roleName: '@ViewData["Role"]'
            },
            function () {
                $('.modal-content').load('/Configuration/GetUsers?role=@ViewData["Role"]');
            }
        );
    }
    function addUser(UserId) {
        $.post("/Configuration/AddUser",
            {
                userId: UserId,
                roleName: '@ViewData["Role"]'
            },
            function () {
                $('.modal-content').load('/Configuration/GetUsers?role=@ViewData["Role"]');
            }
        );
    }
    function deleteUser(UserId) {
        $.post("/Configuration/DeleteUser",
            {
                userId: UserId
            },
            function () {
                $('.modal-content').load('/Configuration/GetUsers?role=@ViewData["Role"]');
            }
        );
    }
</script>