@using Microsoft.EntityFrameworkCore.Internal
@model hager_crm.Models.Company[]

@{
    ViewData["Title"] = "Compare Companies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Compare Companies</h1>
<h4>@Model[0].Name to @Model[1].Name</h4>
<button class="btn btn-primary" onclick="$('form.compare input[type=\'checkbox\'][name=\'fieldsToMerge\']').attr('checked', true);">Select All</button>
<button class="btn btn-secondary ml-2" onclick="$('form.compare input[type=\'checkbox\'][name=\'fieldsToMerge\']').attr('checked', false);">Unselect All</button>
<hr />
<div class="row justify-content-center">
    <div class="col-lg-10 col-12">
        <form class="compare" asp-action="Merge" asp-route-leftCompanyId="@Model[0].CompanyID" asp-route-rightCompanyId="@Model[1].CompanyID">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-12 col-md-5 form-group">
                            <label class="control-label">From: </label>
                            <label asp-for="First().Name" class="control-label"></label>
                            <input asp-for="First().Name" class="form-control" disabled />
                        </div>
                        <div class="col-12 col-md-2 form-group form-check d-flex justify-content-center align-items-center">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" name="fieldsToMerge" value="Name" /> Merge
                            </label>
                        </div>
                        <div class="col-12 col-md-5 form-group">
                            <label class="control-label">To: </label>
                            <label asp-for="Last().Name" class="control-label"></label>
                            <input asp-for="Last().Name" class="form-control" disabled />
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-12 col-md-5 form-group">
                            <label class="control-label">From: </label>
                            <label asp-for="First().Location" class="control-label"></label>
                            <input asp-for="First().Location" class="form-control" disabled />
                        </div>
                        <div class="col-12 col-md-2 form-group form-check d-flex justify-content-center align-items-center">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" name="fieldsToMerge" value="Location" /> Merge
                            </label>
                        </div>
                        <div class="col-12 col-md-5 form-group">
                            <label class="control-label">To: </label>
                            <label asp-for="Last().Location" class="control-label"></label>
                            <input asp-for="Last().Location" class="form-control" disabled />
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-12 col-md-5 form-group d-flex justify-content-center align-items-center">
                            <label class="form-check-label">
                                <label class="control-label mr-4">From: </label>
                                <input class="form-check-input" asp-for="First().CreditCheck" disabled /> @Html.DisplayNameFor(model => model[0].CreditCheck)
                            </label>
                        </div>
                        <div class="col-12 col-md-2 form-group form-check d-flex justify-content-center align-items-center">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" name="fieldsToMerge" value="CreditCheck" /> Merge
                            </label>
                        </div>
                        <div class="col-12 col-md-5 form-group d-flex justify-content-center align-items-center">
                            <label class="form-check-label">
                                <label class="control-label mr-4">To: </label>
                                <input class="form-check-input" asp-for="Last().CreditCheck" disabled /> @Html.DisplayNameFor(model => model[1].CreditCheck)
                            </label>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-12 col-md-5 form-group">
                            <label class="control-label">From: </label>
                            <label asp-for="First().DateChecked" class="control-label"></label>
                            <input asp-for="First().DateChecked" class="form-control" disabled />
                        </div>
                        <div class="col-12 col-md-2 form-group form-check d-flex justify-content-center align-items-center">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" name="fieldsToMerge" value="DateChecked" /> Merge
                            </label>
                        </div>
                        <div class="col-12 col-md-5 form-group">
                            <label class="control-label">To: </label>
                            <label asp-for="Last().DateChecked" class="control-label"></label>
                            <input asp-for="Last().DateChecked" class="form-control" disabled />
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-12 col-md-5 form-group">
                            <label class="control-label">From: </label>
                            <label asp-for="First().BillingTermID" class="control-label"></label>
                            <select asp-for="First().BillingTermID" class="form-control" asp-items="@ViewBag.LeftMerge["BillingTermID"]" disabled></select>
                        </div>
                        <div class="col-12 col-md-2 form-group form-check d-flex justify-content-center align-items-center">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" name="fieldsToMerge" value="BillingTermID" /> Merge
                            </label>
                        </div>
                        <div class="col-12 col-md-5 form-group">
                            <label class="control-label">To: </label>
                            <label asp-for="Last().BillingTermID" class="control-label"></label>
                            <select asp-for="Last().BillingTermID" class="form-control" asp-items="@ViewBag.RightMerge["BillingTermID"]" disabled></select>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-12 col-md-5 form-group">
                            <label class="control-label">From: </label>
                            <label asp-for="First().CurrencyID" class="control-label"></label>
                            <select asp-for="First().CurrencyID" class="form-control" asp-items="@ViewBag.LeftMerge["CurrencyID"]" disabled></select>
                        </div>
                        <div class="col-12 col-md-2 form-group form-check d-flex justify-content-center align-items-center">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" name="fieldsToMerge" value="CurrencyID" /> Merge
                            </label>
                        </div>
                        <div class="col-12 col-md-5 form-group">
                            <label class="control-label">To: </label>
                            <label asp-for="Last().CurrencyID" class="control-label"></label>
                            <select asp-for="Last().CurrencyID" class="form-control" asp-items="@ViewBag.RightMerge["CurrencyID"]" disabled></select>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-12 col-md-5 form-group">
                            <label class="control-label">From: </label>
                            <label asp-for="First().Phone" class="control-label"></label>
                            <input asp-for="First().Phone" class="form-control" disabled />
                        </div>
                        <div class="col-12 col-md-2 form-group form-check d-flex justify-content-center align-items-center">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" name="fieldsToMerge" value="Phone" /> Merge
                            </label>
                        </div>
                        <div class="col-12 col-md-5 form-group">
                            <label class="control-label">To: </label>
                            <label asp-for="Last().Phone" class="control-label"></label>
                            <input asp-for="Last().Phone" class="form-control" disabled />
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-12 col-md-5 form-group">
                            <label class="control-label">From: </label>
                            <label asp-for="First().Website" class="control-label"></label>
                            <input asp-for="First().Website" class="form-control" disabled />
                        </div>
                        <div class="col-12 col-md-2 form-group form-check d-flex justify-content-center align-items-center">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" name="fieldsToMerge" value="Website" /> Merge
                            </label>
                        </div>
                        <div class="col-12 col-md-5 form-group">
                            <label class="control-label">To: </label>
                            <label asp-for="Last().Website" class="control-label"></label>
                            <input asp-for="Last().Website" class="form-control" disabled />
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-12 col-md-5 form-group">
                            <label class="control-label">From: </label>
                            <label class="control-label">Billing Address</label>
                            <input value="@(Model[0].BillingAddress1 + " " + @Model[0].BillingAddress2)" class="form-control" disabled />
                        </div>
                        <div class="col-12 col-md-2 form-group form-check d-flex justify-content-center align-items-center">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" name="fieldsToMerge" value="BillingAddress" /> Merge
                            </label>
                        </div>
                        <div class="col-12 col-md-5 form-group">
                            <label class="control-label">To: </label>
                            <label class="control-label">Billing Address</label>
                            <input value="@(Model[1].BillingAddress1 + " " + @Model[1].BillingAddress2)" class="form-control" disabled />
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-12 col-md-5 form-group">
                            <label class="control-label">From: </label>
                            <label asp-for="First().BillingProvinceID" class="control-label"></label>
                            <select asp-for="First().BillingProvinceID" class="form-control" asp-items="@ViewBag.LeftMerge["BillingProvinceID"]" disabled></select>
                        </div>
                        <div class="col-12 col-md-2 form-group form-check d-flex justify-content-center align-items-center">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" name="fieldsToMerge" value="BillingProvinceID" /> Merge
                            </label>
                        </div>
                        <div class="col-12 col-md-5 form-group">
                            <label class="control-label">To: </label>
                            <label asp-for="Last().BillingProvinceID" class="control-label"></label>
                            <select asp-for="Last().BillingProvinceID" class="form-control" asp-items="@ViewBag.RightMerge["BillingProvinceID"]" disabled></select>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-12 col-md-5 form-group">
                            <label class="control-label">From: </label>
                            <label asp-for="First().BillingPostalCode" class="control-label"></label>
                            <input asp-for="First().BillingPostalCode" class="form-control" disabled />
                        </div>
                        <div class="col-12 col-md-2 form-group form-check d-flex justify-content-center align-items-center">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" name="fieldsToMerge" value="BillingPostalCode" /> Merge
                            </label>
                        </div>
                        <div class="col-12 col-md-5 form-group">
                            <label class="control-label">To: </label>
                            <label asp-for="Last().BillingPostalCode" class="control-label"></label>
                            <input asp-for="Last().BillingPostalCode" class="form-control" disabled />
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-12 col-md-5 form-group">
                            <label class="control-label">From: </label>
                            <label asp-for="First().BillingCountryID" class="control-label"></label>
                            <select asp-for="First().BillingCountryID" class="form-control" asp-items="@ViewBag.LeftMerge["BillingCountryID"]" disabled></select>
                        </div>
                        <div class="col-12 col-md-2 form-group form-check d-flex justify-content-center align-items-center">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" name="fieldsToMerge" value="BillingCountryID" /> Merge
                            </label>
                        </div>
                        <div class="col-12 col-md-5 form-group">
                            <label class="control-label">To: </label>
                            <label asp-for="Last().BillingCountryID" class="control-label"></label>
                            <select asp-for="Last().BillingCountryID" class="form-control" asp-items="@ViewBag.RightMerge["BillingCountryID"]" disabled></select>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-12 col-md-5 form-group">
                            <label class="control-label">From: </label>
                            <label class="control-label">Shipping Address</label>
                            <input value="@(Model[0].ShippingAddress1 + " " + @Model[0].ShippingAddress2)" class="form-control" disabled />
                        </div>
                        <div class="col-12 col-md-2 form-group form-check d-flex justify-content-center align-items-center">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" name="fieldsToMerge" value="ShippingAddress" /> Merge
                            </label>
                        </div>
                        <div class="col-12 col-md-5 form-group">
                            <label class="control-label">To: </label>
                            <label class="control-label">Shipping Address</label>
                            <input value="@(Model[1].ShippingAddress1 + " " + @Model[1].ShippingAddress2)" class="form-control" disabled />
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-12 col-md-5 form-group">
                            <label class="control-label">From: </label>
                            <label asp-for="First().ShippingProvinceID" class="control-label"></label>
                            <select asp-for="First().ShippingProvinceID" class="form-control" asp-items="@ViewBag.LeftMerge["ShippingProvinceID"]" disabled></select>
                        </div>
                        <div class="col-12 col-md-2 form-group form-check d-flex justify-content-center align-items-center">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" name="fieldsToMerge" value="ShippingProvinceID" /> Merge
                            </label>
                        </div>
                        <div class="col-12 col-md-5 form-group">
                            <label class="control-label">To: </label>
                            <label asp-for="Last().ShippingProvinceID" class="control-label"></label>
                            <select asp-for="Last().ShippingProvinceID" class="form-control" asp-items="@ViewBag.RightMerge["ShippingProvinceID"]" disabled></select>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-12 col-md-5 form-group">
                            <label class="control-label">From: </label>
                            <label asp-for="First().ShippingPostalCode" class="control-label"></label>
                            <input asp-for="First().ShippingPostalCode" class="form-control" disabled />
                        </div>
                        <div class="col-12 col-md-2 form-group form-check d-flex justify-content-center align-items-center">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" name="fieldsToMerge" value="ShippingPostalCode" /> Merge
                            </label>
                        </div>
                        <div class="col-12 col-md-5 form-group">
                            <label class="control-label">To: </label>
                            <label asp-for="Last().ShippingPostalCode" class="control-label"></label>
                            <input asp-for="Last().ShippingPostalCode" class="form-control" disabled />
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-12 col-md-5 form-group">
                            <label class="control-label">From: </label>
                            <label asp-for="First().ShippingCountryID" class="control-label"></label>
                            <select asp-for="First().ShippingCountryID" class="form-control" asp-items="@ViewBag.LeftMerge["ShippingCountryID"]" disabled></select>
                        </div>
                        <div class="col-12 col-md-2 form-group form-check d-flex justify-content-center align-items-center">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" name="fieldsToMerge" value="ShippingCountryID" /> Merge
                            </label>
                        </div>
                        <div class="col-12 col-md-5 form-group">
                            <label class="control-label">To: </label>
                            <label asp-for="Last().ShippingCountryID" class="control-label"></label>
                            <select asp-for="Last().ShippingCountryID" class="form-control" asp-items="@ViewBag.RightMerge["ShippingCountryID"]" disabled></select>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-12 col-md-5 form-group">
                            <label class="control-label">From: </label>
                            <label class="control-label">Customer Type</label>
                            <ul class="list-group">
                                @foreach (var type in (SelectList)ViewBag.LeftMerge["CustomerTypes"])
                                {
                                    <li class="list-group-item">@type.Text</li>
                                }
                                @if (!((SelectList)ViewBag.LeftMerge["CustomerTypes"]).Items.Any())
                                {
                                    <li class="list-group-item">No Customers</li>
                                }
                            </ul>
                        </div>
                        <div class="col-12 col-md-2 form-group form-check d-flex justify-content-center align-items-center">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" name="fieldsToMerge" value="CustomerTypes" /> Merge
                            </label>
                        </div>
                        <div class="col-12 col-md-5 form-group">
                            <label class="control-label">To: </label>
                            <label class="control-label">Customer Type</label>
                            <ul class="list-group">
                                @foreach (var type in (SelectList)ViewBag.RightMerge["CustomerTypes"])
                                {
                                    <li class="list-group-item">@type.Text</li>
                                }
                                @if (!((SelectList)ViewBag.RightMerge["CustomerTypes"]).Items.Any())
                                {
                                    <li class="list-group-item">No Customers</li>
                                }
                            </ul>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-12 col-md-5 form-group">
                            <label class="control-label">From: </label>
                            <label class="control-label">Vendor Type</label>
                            <ul class="list-group">
                                @foreach (var type in (SelectList)ViewBag.LeftMerge["VendorTypes"])
                                {
                                    <li class="list-group-item">@type.Text</li>
                                }
                                @if (!((SelectList)ViewBag.LeftMerge["VendorTypes"]).Items.Any())
                                {
                                    <li class="list-group-item">No Vendors</li>
                                }
                            </ul>
                        </div>
                        <div class="col-12 col-md-2 form-group form-check d-flex justify-content-center align-items-center">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" name="fieldsToMerge" value="VendorTypes" /> Merge
                            </label>
                        </div>
                        <div class="col-12 col-md-5 form-group">
                            <label class="control-label">To: </label>
                            <label class="control-label">Vendor Type</label>
                            <ul class="list-group">
                                @foreach (var type in (SelectList)ViewBag.RightMerge["VendorTypes"])
                                {
                                    <li class="list-group-item">@type.Text</li>
                                }
                                @if (!((SelectList)ViewBag.RightMerge["VendorTypes"]).Items.Any())
                                {
                                    <li class="list-group-item">No Vendors</li>
                                }
                            </ul>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-12 col-md-5 form-group">
                            <label class="control-label">From: </label>
                            <label class="control-label">Contractor Type</label>
                            <ul class="list-group">
                                @foreach (var type in (SelectList)ViewBag.LeftMerge["ContractorTypes"])
                                {
                                    <li class="list-group-item">@type.Text</li>
                                }
                                @if (!((SelectList)ViewBag.LeftMerge["ContractorTypes"]).Items.Any())
                                {
                                    <li class="list-group-item">No Contractors</li>
                                }
                            </ul>
                        </div>
                        <div class="col-12 col-md-2 form-group form-check d-flex justify-content-center align-items-center">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" name="fieldsToMerge" value="ContractorTypes" /> Merge
                            </label>
                        </div>
                        <div class="col-12 col-md-5 form-group">
                            <label class="control-label">To: </label>
                            <label class="control-label">Contractor Type</label>
                            <ul class="list-group">
                                @foreach (var type in (SelectList)ViewBag.RightMerge["ContractorTypes"])
                                {
                                    <li class="list-group-item">@type.Text</li>
                                }
                                @if (!((SelectList)ViewBag.RightMerge["ContractorTypes"]).Items.Any())
                                {
                                    <li class="list-group-item">No Contractors</li>
                                }
                            </ul>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-12 col-md-5 form-group d-flex justify-content-center align-items-center">
                            <label class="form-check-label">
                                <label class="control-label mr-4">From: </label>
                                <input class="form-check-input" asp-for="First().Active" disabled /> @Html.DisplayNameFor(model => model[0].Active)
                            </label>
                        </div>
                        <div class="col-12 col-md-2 form-group form-check d-flex justify-content-center align-items-center">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" name="fieldsToMerge" value="Active" /> Merge
                            </label>
                        </div>
                        <div class="col-12 col-md-5 form-group d-flex justify-content-center align-items-center">
                            <label class="form-check-label">
                                <label class="control-label mr-4">To: </label>
                                <input class="form-check-input" asp-for="Last().Active" disabled /> @Html.DisplayNameFor(model => model[1].Active)
                            </label>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-12 col-md-5 form-group">
                            <label class="control-label">From: </label>
                            <label asp-for="First().Notes" class="control-label"></label>
                            <input asp-for="First().Notes" class="form-control" disabled />
                        </div>
                        <div class="col-12 col-md-2 form-group form-check d-flex justify-content-center align-items-center">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" name="fieldsToMerge" value="Notes" /> Merge
                            </label>
                        </div>
                        <div class="col-12 col-md-5 form-group">
                            <label class="control-label">To: </label>
                            <label asp-for="Last().Notes" class="control-label"></label>
                            <input asp-for="Last().Notes" class="form-control" disabled />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <input type="submit" value="Merge" class="btn btn-primary" />
                        <a class="btn btn-secondary" asp-action="Index" asp-route-CType="All">Back to All Company List</a>
                    </div>
                </div>

            </div>

        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    $(document).ready(function () {
        $("#allCompaniesSubmenu").attr("style", "color: #862633; background: #fff;");
    })
</script>