@model hager_crm.Models.Company

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Company: @Model.Name</h4>
    <hr />
</div>
<div>
    <ul class="nav nav-pills" id="myTabs" role="tablist">
        <li class="nav-item">
            <a href="#basic" aria-controls="basic" role="tab" class="nav-link active" name="basic" data-toggle="tab" aria-selected="false">Basic Information</a>
        </li>

        <li class="nav-item">
            <a href="#moreinfo" aria-controls="moreinfo" role="tab" class="nav-link" name="moreinfo" data-toggle="tab" aria-selected="false">Billing and Shipping</a>
        </li>

        <li class="nav-item">
            <a href="#emergencycontact" aria-controls="emergencycontact" role="tab" class="nav-link" name="emergencycontact" data-toggle="tab" aria-selected="false">More Information</a>
        </li>
        <li class="nav-item">
            <a asp-action="Contacts" asp-route-id="@Model.CompanyID" class="nav-link">Contacts</a>
        </li>
    </ul>

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade ml-3 show active" id="basic">
            <br />
            <dl class="row">
                <dt class="col-sm-3 my-2">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-9 my-2">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt class="col-sm-3 my-2">
                    @Html.DisplayNameFor(model => model.Location)
                </dt>
                <dd class="col-sm-9 my-2">
                    @Html.DisplayFor(model => model.Location)
                </dd>
                <dt class="col-sm-3 my-2">
                    @Html.DisplayNameFor(model => model.CreditCheck)
                </dt>
                <dd class="col-sm-9 my-2">
                    @Html.DisplayFor(model => model.CreditCheck)
                </dd>
                <dt class="col-sm-3 my-2">
                    @Html.DisplayNameFor(model => model.DateChecked)
                </dt>
                <dd class="col-sm-9 my-2">
                    @Html.DisplayFor(model => model.DateChecked)
                </dd>
                <dt class="col-sm-3 my-2">
                    @Html.DisplayNameFor(model => model.BillingTerm)
                </dt>
                <dd class="col-sm-9 my-2">
                    @Html.DisplayFor(model => model.BillingTerm.Terms)
                </dd>
                <dt class="col-sm-3 my-2">
                    @Html.DisplayNameFor(model => model.Currency)
                </dt>
                <dd class="col-sm-9 my-2">
                    @Html.DisplayFor(model => model.Currency.CurrencyName)
                </dd>
                <dt class="col-sm-3 my-2">
                    @Html.DisplayNameFor(model => model.Phone)
                </dt>
                <dd class="col-sm-9 my-2">
                    @Html.DisplayFor(model => model.Phone)
                </dd>
                <dt class="col-sm-3 my-2">
                    @Html.DisplayNameFor(model => model.Website)
                </dt>
                <dd class="col-sm-9 my-2">
                    @Html.DisplayFor(model => model.Website)
                </dd>
            </dl>

        </div>

        <div role="tabpanel" class="tab-pane fade ml-3" id="moreinfo" aria-labelledby="moreinfo-tab">
            <br />
            <dl class="row">
                <dt class="col-sm-3 mt-2 mb-0">
                    Billing Address
                </dt>
                <dd class="col-sm-9 mt-2 mb-0">
                    @Html.DisplayFor(model => model.BillingAddress1)@if (!String.IsNullOrEmpty(Model.BillingAddress2))
                    {
                        Html.DisplayFor(model => model.BillingAddress2);
                    }, @Html.DisplayFor(model => model.BillingPostalCode)
                </dd>
                <dt class="col-sm-3 mt-0 mb-2">
                </dt>
                <dd class="col-sm-9 mt-0 mb-2">
                    @Html.DisplayFor(model => model.BillingProvince.ProvinceName), @Html.DisplayFor(model => model.BillingCountry.CountryName)
                </dd>
                <dt class="col-sm-3 mt-2 mb-0">
                    Shipping Address
                </dt>
                <dd class="col-sm-9 mt-2 mb-0">
                    @Html.DisplayFor(model => model.ShippingAddress1)@if (!String.IsNullOrEmpty(Model.ShippingAddress2))
                    {
                        Html.DisplayFor(model => model.ShippingAddress2);
                    }, @Html.DisplayFor(model => model.ShippingPostalCode)
                </dd>
                <dt class="col-sm-3 mt-0 mb-2">
                </dt>
                <dd class="col-sm-9 mt-0 mb-2">
                    @Html.DisplayFor(model => model.ShippingProvince.ProvinceName), @Html.DisplayFor(model => model.ShippingCountry.CountryName)
                </dd>
            </dl>

        </div>

        <div role="tabpanel" class="tab-pane fade ml-3" id="emergencycontact" aria-labelledby="moreinfo-tab">
            <br />
            <dl class="row">
                @if (Model.Customer)
                {
                    <dt class="col-sm-3 my-2">
                        @Html.DisplayNameFor(model => model.CustomerType)
                    </dt>
                    <dd class="col-sm-9 my-2">
                        @Html.DisplayFor(model => model.CustomerType.Type)
                    </dd>
                }
                @if (Model.Vendor)
                {
                    <dt class="col-sm-3 my-2">
                        @Html.DisplayNameFor(model => model.VendorType)
                    </dt>
                    <dd class="col-sm-9 my-2">
                        @Html.DisplayFor(model => model.VendorType.Type)
                    </dd>
                }
                @if (Model.Contractor)
                {
                    <dt class="col-sm-3 my-2">
                        @Html.DisplayNameFor(model => model.ContractorType)
                    </dt>
                    <dd class="col-sm-9 my-2">
                        @Html.DisplayFor(model => model.ContractorType.Type)
                    </dd>
                }
                <dt class="col-sm-3 my-2">
                    @Html.DisplayNameFor(model => model.Active)
                </dt>
                <dd class="col-sm-9 my-2">
                    @Html.DisplayFor(model => model.Active)
                </dd>
                <dt class="col-sm-3 my-2">
                    @Html.DisplayNameFor(model => model.Notes)
                </dt>
                <dd class="col-sm-9 my-2">
                    @Html.DisplayFor(model => model.Notes)
                </dd>
            </dl>

        </div>

    </div>
</div>
<div>
    @if (User.IsInRole("Admin") || User.IsInRole("Supervisor"))
    {
        <a asp-action="Edit" asp-route-id="@Model.CompanyID" asp-route-CType="@Context.Request.Query["CType"]">Edit</a> @:|
    }
    <a asp-action="Index" asp-route-CType="@Context.Request.Query["CType"]">Back to @Context.Request.Query["CType"] Company List</a>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    $(document).ready(function () {
        $("#@Context.Request.Query["CType"].ToString().ToLower()CompaniesSubmenu").attr("style", "color: #862633; background: #fff;");
    })
</script>