@model hager_crm.Models.Company

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Company</h4>
<hr />
<form asp-action="Edit">
    <div class="row justify-content-center">
        <div class="col-lg-10 col-12">
            <div class="row">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="CompanyID" />
                <input type="hidden" name="CType" id="CType" value="@Context.Request.Query["CType"]" />
                <input type="hidden" name="returnURL" value="@ViewData["returnURL"]" />
                <div class="col-md-6 col-12">
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Location" class="control-label"></label>
                        <input asp-for="Location" class="form-control" />
                        <span asp-validation-for="Location" class="text-danger"></span>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="CreditCheck" /> @Html.DisplayNameFor(model => model.CreditCheck)
                        </label>
                    </div>
                    <div class="form-group">
                        <label asp-for="DateChecked" class="control-label"></label>
                        <input asp-for="DateChecked" class="form-control" />
                        <span asp-validation-for="DateChecked" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="BillingTermID" class="control-label"></label>
                        <select asp-for="BillingTermID" class="form-control" asp-items="ViewBag.BillingTermID"></select>
                        <span asp-validation-for="BillingTermID" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CurrencyID" class="control-label"></label>
                        <select asp-for="CurrencyID" class="form-control" asp-items="ViewBag.CurrencyID"></select>
                        <span asp-validation-for="CurrencyID" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Phone" class="control-label"></label>
                        <input asp-for="Phone" class="form-control" />
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Website" class="control-label"></label>
                        <input asp-for="Website" class="form-control" />
                        <span asp-validation-for="Website" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="BillingAddress1" class="control-label"></label>
                        <input asp-for="BillingAddress1" class="form-control" />
                        <span asp-validation-for="BillingAddress1" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="BillingAddress2" class="control-label"></label>
                        <input asp-for="BillingAddress2" class="form-control" />
                        <span asp-validation-for="BillingAddress2" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="BillingProvinceID" class="control-label"></label>
                        <select asp-for="BillingProvinceID" class="form-control dropdown-province link-edit-bill-province">
                            <option value="">-- Select Province --</option>
                            @foreach (var item in ViewBag.BillingProvinceID.Items)
                            {
                                <option value="@item.Value.Split(';')[0]"
                                        data-country="@item.Value.Split(';')[1]">
                                    @item.Text
                                </option>
                            }
                        </select>
                        <span asp-validation-for="BillingProvinceID" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="BillingPostalCode" class="control-label"></label>
                        <input asp-for="BillingPostalCode" class="form-control" />
                        <span asp-validation-for="BillingPostalCode" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="BillingCountryID" class="control-label"></label>
                        <select asp-for="BillingCountryID" class="form-control dropdown-country" data-link="link-edit-bill-province"
                                asp-items="ViewBag.BillingCountryID"></select>
                        <span asp-validation-for="BillingCountryID" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="form-group">
                        <label asp-for="ShippingAddress1" class="control-label"></label>
                        <input asp-for="ShippingAddress1" class="form-control" />
                        <span asp-validation-for="ShippingAddress1" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ShippingAddress2" class="control-label"></label>
                        <input asp-for="ShippingAddress2" class="form-control" />
                        <span asp-validation-for="ShippingAddress2" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ShippingProvinceID" class="control-label"></label>
                        <select asp-for="ShippingProvinceID" class="form-control dropdown-province link-edit-ship-province">
                            <option value="">-- Select Province --</option>
                            @foreach (var item in ViewBag.ShippingProvinceID.Items)
                            {
                                <option value="@item.Value.Split(';')[0]"
                                        data-country="@item.Value.Split(';')[1]">
                                    @item.Text
                                </option>
                            }
                        </select>
                        <span asp-validation-for="ShippingProvinceID" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ShippingPostalCode" class="control-label"></label>
                        <input asp-for="ShippingPostalCode" class="form-control" />
                        <span asp-validation-for="ShippingPostalCode" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ShippingCountryID" class="control-label"></label>
                        <select asp-for="ShippingCountryID" class="form-control dropdown-country"
                                data-link="link-edit-ship-province" asp-items="ViewBag.ShippingCountryID"></select>
                        <span asp-validation-for="ShippingCountryID" class="text-danger"></span>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" id="checkcustomers" asp-for="Customer" /> @Html.DisplayNameFor(model => model.Customer)
                        </label>
                    </div>
                    <div class="row" id="autoUpdate">
                        <div class="form-group col-md-6">
                            <label class="control-label"> Customer type</label>
                            <button type="button" id="btnRight" class="btn btn-danger btn-sm">
                                <strong>-</strong>
                            </button>
                            @Html.ListBox("selectedOptions", (MultiSelectList)ViewBag.selOptsCust, new { @size = 6, @class = "form-control" })
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label"> Choose Type</label>
                            <button type="button" id="btnLeft" class="btn btn-success btn-sm">
                                <strong>+</strong>
                            </button>
                            @Html.ListBox("availOptions", (MultiSelectList)ViewBag.availOptsCust, new { @size = 6, @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Contractor" id="checkcontractor" /> @Html.DisplayNameFor(model => model.Contractor)
                        </label>
                    </div>
                    <div class="row" id="autoUpdateCont">
                        <div class="form-group col-md-6">
                            <label class="control-label">Contractor type</label>
                            <button type="button" id="btnRightContractor" class="btn btn-danger btn-sm">
                                <strong>-</strong>
                            </button>
                            @Html.ListBox("selectedOptionsCont", (MultiSelectList)ViewBag.selOptsCont, new { @size = 6, @class = "form-control" })
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label"> Choose Type</label>
                            <button type="button" id="btnLeftContractor" class="btn btn-success btn-sm">
                                <strong>+</strong>
                            </button>
                            @Html.ListBox("availOptionsCont", (MultiSelectList)ViewBag.availOptsCont, new { @size = 6, @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Vendor" id="checkvendor" /> @Html.DisplayNameFor(model => model.Vendor)
                        </label>
                    </div>
                    <div class="row" id="autoUpdateVen">
                        <div class="form-group col-md-6">
                            <label class="control-label">Vendor type</label>
                            <button type="button" id="btnRightVendor" class="btn btn-danger btn-sm">
                                <strong>-</strong>
                            </button>
                            @Html.ListBox("selectedOptionsVen", (MultiSelectList)ViewBag.selOptsVen, new { @size = 6, @class = "form-control" })
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label"> Choose Type</label>
                            <button type="button" id="btnLeftVendor" class="btn btn-success btn-sm">
                                <strong>+</strong>
                            </button>
                            @Html.ListBox("availOptionsVen", (MultiSelectList)ViewBag.availOptsVen, new { @size = 6, @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Notes" class="control-label"></label>
                        <input asp-for="Notes" class="form-control" />
                        <span asp-validation-for="Notes" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <input type="submit" id="btnSubmit" value="Save" class="btn btn-primary" />
                    </div>
                    <div>
                        @if (String.IsNullOrEmpty(ViewData["returnURL"].ToString()))
                        {
                            <a asp-action="Index" asp-route-CType="@Context.Request.Query["CType"]">Back to @Context.Request.Query["CType"] Company List</a>
                        }
                        else
                        {
                            <a href='@ViewData["returnURL"]'>Back to @Context.Request.Query["CType"] Company List</a>
                        }
                    </div>
                </div>

            </div>
        </div>
    </div> 
</form>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src = "~/js/multiselectlist.js" ></script >
}
<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    $(document).ready(function () {
        $("#@Context.Request.Query["CType"].ToString().ToLower()CompaniesSubmenu").attr("style", "color: #862633; background: #fff;");
    })
</script>

<script>
    $(document).ready(function () {
        $('#checkcustomers').change(function () {
            if (!this.checked)
                $('#autoUpdate').hide();
            else
                $('#autoUpdate').show();
        });
    });

    $(document).ready(function () {
        $('#checkcontractor').change(function () {
            if (!this.checked)
                $('#autoUpdateCont').hide();
            else
                $('#autoUpdateCont').show();
        });
    });

    $(document).ready(function () {
        $('#checkvendor').change(function () {
            if (!this.checked)
                $('#autoUpdateVen').hide();
            else
                $('#autoUpdateVen').show();
        });
    });
</script>