@model IEnumerable<hager_crm.Models.Company>

@{
    ViewData["Title"] = "Index Contractor";
}

<h1>Contractor</h1>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@

<form asp-action="IndexContractor" method="get">
    <input type="hidden" name="sortDirection" value="@ViewData["sortDirection"]" />
    <input type="hidden" name="sortField" value="@ViewData["sortField"]" />
    <div class="form-horizontal">
        <button class="btn btn-outline-primary" type="button" data-toggle="collapse" id="filterToggle" data-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter">
            Filter/Search
        </button>
        <div class="collapse @(ViewData["Filtering"])" id="collapseFilter">
            <div class="card card-body bg-light">
                <div class="row">
                    <div class="form-group col-md-4">
                        <label class="control-label">Select by Province:</label>
                        @Html.DropDownList("ProvinceID", null, "All Province", htmlAttributes: new { @class = "form-control" })
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label">Select by Country:</label>
                        @Html.DropDownList("CountryID", null, "All Country", htmlAttributes: new { @class = "form-control" })
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label">Search Company Name:</label>
                        @Html.TextBox("SearchString", null, new { @class = "form-control" })
                    </div>
                    <div class="form-group col-md-4 align-self-end">
                        <input type="submit" name="actionButton" value="Filter" class="btn btn-outline-primary" />
                        <a asp-action="Index" class="btn btn-outline-dark">Clear</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <table class="table">
        <thead>
            <tr>
                <th>
                    <input type="submit" name="actionButton" value="Name" class="btn btn-link" />
                </th>
                <th>
                    <input type="submit" name="actionButton" value="Location" class="btn btn-link" />
                </th>

                <th>
                    <input type="submit" disabled="disabled" value="Phone" class="btn btn-link" />
                </th>
                <th>
                    <input type="submit" disabled="disabled" value="Website" class="btn btn-link" />
                </th>
                <th>
                    <input type="submit" name="actionButton" value="Province" class="btn btn-link" />
                </th>
                <th>
                    <input type="submit" name="actionButton" value="Country" class="btn btn-link" />
                </th>

                <th>
                    <input type="submit" name="actionButton" value="Active" class="btn btn-link" />
                </th>
                <th>
                    <input type="submit" disabled="disabled" value="Notes" class="btn btn-link" />
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Location)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Phone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Website)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.BillingProvince.ProvinceName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BillingCountry.CountryName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Active)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Notes)
                    </td>
                    <td>
                        <a class="btn btn-sm btn-light w-100" asp-action="EditContractor" asp-route-id="@item.CompanyID">Edit</a>
                        <a class="btn btn-sm btn-light w-100" asp-action="DetailsContractor" asp-route-id="@item.CompanyID">Details</a>
                        <a class="btn btn-sm btn-outline-danger w-100" asp-action="DeleteContractor" asp-route-id="@item.CompanyID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <partial name="_PagingNavBar" />
</form>