@model hager_crm.Models.Contact

@{
    ViewData["Title"] = "Delete Contact";
}

<h1>Delete @Model.FullName? (@(Model.Active ? "Active" : "Inactive"))</h1>
<hr />
<div>
    <ul class="nav nav-pills" id="myTabs" role="tablist">
        <li class="nav-item">
            <a href="#basic" aria-controls="basic" role="tab" class="nav-link active" name="basic" data-toggle="tab" aria-selected="false">Basic Information</a>
        </li>
        <li class="nav-item">
            <a href="#moreinfo" aria-controls="moreinfo" role="tab" class="nav-link" name="moreinfo" data-toggle="tab" aria-selected="false">More Information</a>
        </li>
    </ul>

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade ml-3 show active" id="basic">
            <br />
            <dl class="row">
                <dt class="col-sm-3 my-2">
                    @Html.DisplayNameFor(model => model.FirstName)
                </dt>
                <dd class="col-sm-9 my-2">
                    @Html.DisplayFor(model => model.FirstName)
                </dd>
                <dt class="col-sm-3 my-2">
                    @Html.DisplayNameFor(model => model.LastName)
                </dt>
                <dd class="col-sm-9 my-2">
                    @Html.DisplayFor(model => model.LastName)
                </dd>
                <dt class="col-sm-3 my-2">
                    @Html.DisplayNameFor(model => model.JobTitle)
                </dt>
                <dd class="col-sm-9 my-2">
                    @Html.DisplayFor(model => model.JobTitle)
                </dd>
            </dl>
        </div>

        <div role="tabpanel" class="tab-pane fade ml-3" id="moreinfo">
            <dl class="row">
                <dt class="col-sm-3 my-2">
                    @Html.DisplayNameFor(model => model.CellPhone)
                </dt>
                <dd class="col-sm-9 my-2">
                    @Html.DisplayFor(model => model.CellPhone)
                </dd>
                <dt class="col-sm-3 my-2">
                    @Html.DisplayNameFor(model => model.WorkPhone)
                </dt>
                <dd class="col-sm-9 my-2">
                    @Html.DisplayFor(model => model.WorkPhone)
                </dd>
                <dt class="col-sm-3 my-2">
                    @Html.DisplayNameFor(model => model.Email)
                </dt>
                <dd class="col-sm-9 my-2">
                    @Html.DisplayFor(model => model.Email)
                </dd>
                <dt class="col-sm-3 my-2">
                    @Html.DisplayNameFor(model => model.Notes)
                </dt>
                <dd class="col-sm-9 my-2">
                    @Html.DisplayFor(model => model.Notes)
                </dd>
                <dt class="col-sm-3 my-2">
                    @Html.DisplayNameFor(model => model.Company)
                </dt>
                <dd class="col-sm-9 my-2">
                    <a asp-action="CompanyDetails" asp-route-id="@Model.CompanyID">
                        @Html.DisplayFor(model => model.Company.Name)
                    </a>
                </dd>
            </dl>
        </div>
    </div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="ContactID" />
        <input type="hidden" name="CType" id="CType" value="@Context.Request.Query["CType"]" />
        <input type="hidden" name="returnURL" value="@ViewData["returnURL"]" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a class="btn btn-secondary" href='@ViewData["returnURL"]'>Back to @Context.Request.Query["CType"] Contact List</a>
    </form>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    $(document).ready(function () {
        $("#@Context.Request.Query["CType"].ToString().ToLower()ContactsSubmenu").attr("style", "color: #862633; background: #fff;");
    })
</script>