@model IEnumerable<hager_crm.Models.Contact>
@using hager_crm.Utils;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["ContactType"] Contact list</h1>

@if (User.IsInRole("Admin") || User.IsInRole("Supervisor"))
{
    <p>
        <a asp-action="Create">Add New</a>
    </p>
}

<form asp-action="Index" method="get">
    <input type="hidden" name="sortDirection" value="@ViewData["sortDirection"]" />
    <input type="hidden" name="sortField" value="@ViewData["sortField"]" />
    <div class="form-horizontal">
        <button class="btn btn-outline-primary" type="button" data-toggle="collapse" id="filterToggle" data-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter">
            Filter/Search
        </button>
        <div class="collapse @(ViewData["Filtering"])" id="collapseFilter">
            <div class="card card-body bg-light">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label class="control-label">Select by Category:</label>
                        @Html.DropDownList("CategoryID", null, "All Category", htmlAttributes: new { @class = "form-control" })
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label">Search Contact Name:</label>
                        @Html.TextBox("SearchString", null, new { @class = "form-control" })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6 align-self-end">
                        <input type="submit" name="actionButton" value="Filter" class="btn btn-outline-primary" />
                        <a asp-action="Index" class="btn btn-outline-dark">Clear</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>
                    <input type="submit" name="actionButton" value="Contact" class="btn btn-link" />
                </th>
                <th>
                    <input type="submit" disabled="disabled" value="Email" class="btn btn-link" />
                </th>
                <th>
                    <input type="submit" name="actionButton" value="Company" class="btn btn-link" />
                </th>
                <th>
                    <input type="submit" disabled="disabled" value="Job Title" class="btn btn-link" />
                </th>
                <th>
                    <input type="submit" disabled="disabled" value="Category" class="btn btn-link" />
                </th>
                @*<th>
                        <input type="submit" name="actionButton" value="Category" class="btn btn-link" />
                    </th>*@
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Company.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.JobTitle)
                    </td>
                    <td>
                        @{
                            int catCount = item.ContactCategories.Count;
                            if (catCount > 0)
                            {
                                string firstCat = item.ContactCategories.FirstOrDefault().Categories.Category;
                                if (catCount > 1)
                                {
                                    string catList = "";
                                    var a = item.ContactCategories.ToList();
                                    for (int i = 1; i < catCount; i++)
                                    {
                                        catList += a[i].Categories.Category + " <br />";
                                    }
                                    <a class="" role="button" data-toggle="collapse" href="#collapseSum@(item.ContactID)" aria-expanded="false" aria-controls="collapseSum@(item.ContactID)">
                                        @firstCat... <span class="badge badge-info">@catCount</span>
                                    </a>
                                    <div class="collapse" id="collapseSum@(item.ContactID)">
                                        @Html.Raw(catList)
                                    </div>
                                }
                                else
                                {
                                    @firstCat
                                }
                            }
                        }
                    </td>
                    <td>
                        @if (User.IsInRole("Admin") || User.IsInRole("Supervisor"))
                        {
                            <a class="btn btn-sm btn-light w-100" asp-action="Edit" asp-route-id="@item.ContactID" asp-route-ContactType="@ViewData["ContactType"]">Edit</a>
                            <a class="btn btn-sm btn-light w-100" asp-action="Details" asp-route-id="@item.ContactID" asp-route-ContactType="@ViewData["ContactType"]">Details</a>
                            <a class="btn btn-sm btn-outline-danger w-100" asp-action="Delete" asp-route-id="@item.ContactID" asp-route-ContactType="@ViewData["ContactType"]">Delete</a>
                        }
                        else
                        {
                            <a class="btn btn-sm btn-light w-100" asp-action="Details" asp-route-id="@item.ContactID" asp-route-ContactType="@ViewData["ContactType"]">Details</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <partial name="_PagingNavBar" />
</form>